

.Buscador {
    position: relative;
    width: 600px;
    margin: 50px auto;
}

.Busquedas {
    width: 100%;
    padding: 10px 20px;
    border-radius: 25px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 16px;
}

.ingreso_de_busquedas {
    width: 50% ;
    border: none;
}
